@page "/locations"

@using System.Threading.Tasks
@using System.Net.Http
@using System.Net.Http.Json

@inject NavigationManager NavigationManager
@inject ILogger<Index> Logger
@inject HttpClient Http
@inject SharedLib.LoginState loginState;

<h1>Matkakohteet</h1>

@*voi lisätä, poistaa, päivittää ja selata matkakohteita.
Sellaista matkakohdetta, johon liittyy joku matkakertomus, ei saa poistaa tai päivittää

Kuka tahansa ei voi tehdä CRUD toimintoja, vaan siihen pitää vaatia login.
Kuka tahansa voi selata ja hakea matkakohteita*@

@*Tästä sivusta tulee tavallaan matkakohteiden index sivu?
    Tältä sivulta voidaan hakea ja selata matkakohteita. 
    Tee: 
        -ylös hakupalkki: voi hakea/suodattaa matkakohteen nimellä > "search-as-you-type"
        -sivu näyttää matkakohteet (2-3 sarakkeisessa taulukossa?)
        -matkakohdetta klikkaamalla näkee mahdolliset tarinat?? -> takaisin -nappi 
        -matkakohteiden muokkaus vain jos olet sisäänkirjautuneena

        sis. idmatkakohde, kohdenimi, maa, paikkakunta, kuvausteksti, kuva (id:tä ei tarvitse näyttää, ellei muokata tai poisteta)


        MUISTA LAITTAA TYYLIT <img src="/profilePictures/@user.kuva.ToString()" width="150" alt="@user.nimimerkki.ToString()">
*@
<div class="topnav" style="text-align:center">
    <a href="/locations/add">Lisää matkakohteita</a>
    <input type="text" placeholder="Hae..." style="padding: 8px; border: 2px solid #457b9d; border-radius: 4px;" value="@SearchText"/>
</div>

@*HUOM! Zoomatessa kuvat ei pysy paikoillaan vaan menevät toistensa päälle ja objektit sijoittuu miten sattuu*@
@if(locations == null){
     <h2><img src="/images/loading.gif" width="150" /></h2> //tämä ei pyöri jostain syystä
}
else if(locations != null){
    
        @foreach(var l in locations){

            <div style="float: left; width: 25.00%; padding: 15px;">
                @*aiemmin class = keskitys*@
                <div style="text-align:center"><img src="/tripPictures/@l.kuva" width="150" /></div>
                <div><h3>@l.kohdenimi</h3></div>
                <div><h4>@l.paikkakunta</h4></div>
                <div><h4>@l.maa</h4></div>
                <div style="text-align:center">@l.kuvausteksti</div>
                <div style="text-align:center"><a href="locations/edit/@l.idmatkakohde">Muokkaa</a></div>
                <div style="text-align:center"><a href="locations/delete/@l.idmatkakohde">Poista</a></div>
            </div>
            
        }
}
else {
    @if(locationsLike != null){

  
        @foreach(var l in locationsLike){

            <div style="float: left; width: 25.00%; padding: 15px;">
                @*aiemmin class = keskitys*@
                <div style="text-align:center"><img src="/tripPictures/@l.kuva" width="150" /></div>
                <div><h3>@l.kohdenimi</h3></div>
                <div><h4>@l.paikkakunta</h4></div>
                <div><h4>@l.maa</h4></div>
                <div style="text-align:center">@l.kuvausteksti</div>
                <div style="text-align:center"><a href="/locations/edit/@l.idmatkakohde">Muokkaa</a></div>
                <div style="text-align:center"><a href="locations/delete/@l.idmatkakohde">Poista</a></div>
            </div>
            
        }
    
    }
}





@code {
    
    public string? SearchText;

    List<SharedLib.matkakohdeDTO>? locations = new List<SharedLib.matkakohdeDTO>();
    List<SharedLib.matkakohdeDTO>? locationsLike = new List<SharedLib.matkakohdeDTO>();

    protected override async Task OnInitializedAsync(){

        var data = await Http.GetAsync("api/Matkakohdes");
        locations = await data.Content.ReadFromJsonAsync<List<SharedLib.matkakohdeDTO>>();

       // var dataLike = await Http.GetAsync("api/Matkakohdes/{SearchText}");
       // locationsLike = await data.Content.ReadFromJsonAsync<List<SharedLib.matkakohdeDTO>>();

      /*
         if(locations != null){
              foreach (var item in locations)
              {
                  var m = item;
                  if (m.kohdenimi.ToLower().CompareTo(SearchText.ToLower()) == 0) //jos vastaavuutta löytyy
                  {
                      locationsLike.Add(m);
                  }

              }
         }
         */
    }

}
