@page "/locations"

@using System.Threading.Tasks
@using System.Net.Http
@using System.Net.Http.Json

@inject NavigationManager NavigationManager
@inject ILogger<Index> Logger
@inject HttpClient Http
@inject SharedLib.LoginState loginState;

<h1>Matkakohteet</h1>

@*Tästä sivusta tulee tavallaan matkakohteiden index sivu > selaaminen
    voi lisätä, poistaa, päivittää ja selata matkakohteita.
    - Sellaista matkakohdetta, johon liittyy joku matkakertomus, ei saa poistaa tai päivittää
    - Kuka tahansa ei voi tehdä CRUD toimintoja, vaan siihen pitää vaatia login.
    - Kuka tahansa voi selata ja hakea matkakohteita*@

@* Tee: 
        -ylös hakupalkki: voi hakea/suodattaa matkakohteen nimellä > "search-as-you-type"
        -sivu näyttää matkakohteet (2-3 sarakkeisessa taulukossa?)
        -matkakohdetta klikkaamalla näkee mahdolliset tarinat?? -> takaisin -nappi 

        MUISTA LAITTAA TYYLIT <img src="/profilePictures/@user.kuva.ToString()" width="150" alt="@user.nimimerkki.ToString()">
*@
<div class="topnav" style="text-align:center">
    @if (loginState.isLoggedIn)
    {
        <a style="padding-right: 15px;" href="/locations/add">Lisää matkakohteita</a>
    }
</div>

@if(locations == null){
     <h2><img src="/images/loading.gif" width="150" /></h2> //tämä ei pyöri jostain syystä
}
else if(locations != null){

    <div class="flex-container">
        @foreach(var l in locations){

            
            <div class="flex-item">
                @*style="float: left; width: 25%; padding: 15px"*@
                    @*aiemmin class = keskitys*@
                    @if(@l.kuva == null){
                    <div style="text-align:center">Ei kuvaa saatavilla</div>
                    }
                    else
                    {
                        <div style="text-align:center"><img src="/tripPictures/@l.kuva" width="150" /></div>
                    }
                        <div><h3>@l.kohdenimi</h3></div>
                        <div><h4>@l.paikkakunta</h4></div>
                        <div><h4>@l.maa</h4></div>
                        <div style="text-align:center">@l.kuvausteksti</div>
                    @if(loginState.isLoggedIn){
                        <div style="text-align:center"><a href="locations/edit/@l.idmatkakohde">Muokkaa</a></div>
                        <div style="text-align:center"><a href="locations/delete/@l.idmatkakohde">Poista</a></div>
                    }
            </div>
                
            
            
        }
    </div>
}




@code {

    List<SharedLib.matkakohdeDTO>? locations = new List<SharedLib.matkakohdeDTO>();


    protected override async Task OnInitializedAsync(){

        var data = await Http.GetAsync("api/Matkakohdes");
        locations = await data.Content.ReadFromJsonAsync<List<SharedLib.matkakohdeDTO>>();


    }

}
