@page "/users"
@using System.Text.Json
@inject HttpClient Http

<h1>jäsenet</h1>

@*Jäsenet-sivulla näkee kaikkien jäsenten muut tiedot paitsi salasanan ja sähköpostiosoitteem*@
<table>
    <tr>
        <th>id</th>
        <th>kuva</th>
        <th>nimimerkki</th>
        <th>etunimi</th>
        <th>sukunimi</th>
        <th>paikkakunta</th>
        <th>esittely</th>
    </tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.idmatkaaja</td>
            <td><img src="@user.kuva" alt="@user.nimimerkki"></td>
            <td>@user.nimimerkki</td>
            <td>@user.etunimi</td>
            <td>@user.sukunimi</td>
            <td>@user.paikkakunta</td>
            <td>@user.esittely</td>
        </tr>
    }
</table>


@code {
    private List<SharedLib.matkaajaDTO>? users;

}
