@page "/users"
@using System.Text.Json
@inject HttpClient Http

<h1>jäsenet</h1>

@*Jäsenet-sivulla näkee kaikkien jäsenten muut tiedot paitsi salasanan ja sähköpostiosoitteem*@
<table>
    <tr>
        <th>id</th>
        <th>kuva</th>
        <th>nimimerkki</th>
        <th>etunimi</th>
        <th>sukunimi</th>
        <th>paikkakunta</th>
        <th>esittely</th>
    </tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.idmatkaaja.ToString()</td>
            <td><img src="@user.kuva" width="150" alt="@user.nimimerkki.ToString()"></td>
            <td>@user.nimimerkki.ToString()</td>
            <td>@user.etunimi.ToString()</td>
            <td>@user.sukunimi.ToString()</td>
            <td>@user.paikkakunta.ToString()</td>
            <td>@user.esittely.ToString()</td>
        </tr>
    }
</table>


@code {
    private List<SharedLib.matkaajaDTO>? users;
    //Hieno muuntolauseke tähän, kunhan saadaan tietokantaan tavaraa.
}
