@page "/users"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http


<h1>jäsenet</h1>

@*Jäsenet-sivulla näkee kaikkien jäsenten muut tiedot paitsi salasanan ja sähköpostiosoitteem*@
@if (users != null){

<table>
    <tr>
        <th>id</th>
        <th>kuva</th>
        <th>nimimerkki</th>
        <th>etunimi</th>
        <th>sukunimi</th>
        <th>paikkakunta</th>
        <th>esittely</th>
    </tr>
    @foreach (var user in users)
    {
        <tr>
            <td>@user.idmatkaaja.ToString()</td>
            <td><img src="/images/profilePictures/@user.kuva.ToString()" width="150" alt="@user.nimimerkki.ToString()"></td>
            <td>@user.nimimerkki.ToString()</td>
            <td>@user.etunimi.ToString()</td>
            <td>@user.sukunimi.ToString()</td>
            <td>@user.paikkakunta.ToString()</td>
            <td>@user.esittely.ToString()</td>
        </tr>
    }
    </table>
}else
{
    <h2>  <img src="/images/loading.gif" width="150"/></h2>
    
}

@code {
    private List<SharedLib.matkaajaDTO>? users;
    //Hieno muuntolauseke tähän, kunhan saadaan tietokantaan tavaraa.
    protected override async Task OnInitializedAsync() =>
    users = await Http.GetFromJsonAsync<List<SharedLib.matkaajaDTO>>("https://localhost:7086/api/Matkaajas");
}
